.post {
  width: 25rem;
  margin: 0 1.563rem 2.5rem 1.563rem;
  margin-top: 3rem;
}

.post_image {
  width: 25rem;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
}

.post_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_categories {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  color: #be9656;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  margin-right: 0.625rem;
  cursor: pointer;
}

.post_title {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 0.938rem;
  cursor: pointer;
}

.post_date {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 0.813rem;
  color: #999;
  margin-top: 0.538rem;
}

.post_description {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: rgb(93, 93, 93);
  line-height: 1.5rem;
  margin-top: 0.938rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
