.singlePost {
  flex: 9;
}

.singlepost_wrapper {
  padding: 1.25rem;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}

.singlepost_image {
  width: 100%;
  object-fit: cover;
  height: 26rem;
  border-radius: 5px;
}

.singlepost_title {
  text-align: center;
  margin: 0.625rem;
  font-size: 1.75rem;
  font-family: "Lora", sans-serif;
}

.singlePostTitleInput {
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
  text-align: center;
  border: none;
  color: gray;
  border-bottom: 1px solid lightgray;
}

.singlePostTitleInput:focus {
  outline: none;
}

.singlepost_edit {
  float: right;
  font-size: 1rem;
}

.singlepost_icon {
  margin-left: 0.625rem;
  cursor: pointer;
}

.singlepost_icon:first-child {
  color: teal;
}
.singlepost_icon:last-child {
  color: tomato;
}

.singlepost_info {
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #be9656;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.singlepost_author {
  margin-left: 0.313rem;
}

.singlepost_description {
  color: #666;
  font-size: 1.125rem;
  line-height: 1.563rem;
}

.singlepost_description::first-letter {
  margin-left: 1.25rem;
  font-size: 1.875rem;
  font-weight: 600;
}

.singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDescInput:focus {
  outline: none;
}

.singlePostButton {
  width: 100px;
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}
