.sidebar {
  flex: 2;
  height: fit-content;
  margin: 1.25rem;
  padding-bottom: 1.875rem;
  background-color: #fdfbfb;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidebar_item-title {
  margin: 0.625rem;
  padding: 0.313rem;
  width: 80%;
  border-top: solid 1px #a7a4a4;
  border-bottom: solid 1px #a7a4a4;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  line-height: 1.188rem;
  color: #222222;
}
.sidebar_item-text {
  text-align: justify;
}

.sidebar_item > img {
  margin-top: 0.938rem;
  width: 15.625rem;
  height: 15.625rem;
}

.sidebar_item > p {
  padding: 1.875rem;
}

.sidebar_list {
  list-style-type: none;
  margin-bottom: 1.875rem;
  align-self: start !important;
}

.sidebar_list-item {
  display: inline-block;
  width: 50%;
  margin-top: 0.938rem;
  cursor: pointer;
}

.sidebar_social {
  margin-top: 0.938rem;
  width: 15.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_icon {
  font-size: 1rem;
  margin-left: 0.625rem;
  cursor: pointer;
}
